@import "tailwindcss";


@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-Thin.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-SemiBold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-ExtraBold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IRANSansX";
    src: url("/assets/fonts/IRANSansX-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


:root {
    --background: var(--color-zinc-900);
    --foreground: #ffffff;
    font-family: "IRANSansX", system-ui, sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-iransans: IranSans;
}

body {
    background-image: url("/background.png");
    background-repeat: repeat;
    background-size: 36rem;
    color: var(--foreground);
    font-family: IRANSansX, Helvetica, sans-serif;
}
